@media screen and (min-width : 320px) {
    .filter-dropdown {
        margin: 0;
        padding: 0;
        flex: 1;
    }

    .filter-dropdown .content-container {
        position: relative;
        background-color: var(--white);
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        height: 55px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
    }

    .filter-dropdown .content-container span {
        line-height: 55px;
        font-size: 16px;
        font-weight: 600;
    }

    .filter-dropdown .content-container .dropdown-icon-container {
        display: flex;
        align-items: center;
    }

    .filter-dropdown .content-container .dropdown-icon-container i {
        font-weight: bold;
        font-size: 20px;
    }

    .filter-dropdown .content-container.dark {
        background-color: var(--dark-blue);
    }

    .filter-dropdown .content-container span.dark {
        color: var(--white);
    }

    .filter-dropdown .content-container .dropdown-icon-container i.dark {
        color: var(--white);
    }

    .dropdown-container {
        position: absolute;
        background-color: var(--white);
        padding: 1rem;
        padding-right: 0;
        padding-left: 0;
        left: 0;
        display: none;
        width: 100%;
        top: 60px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index : 10;
    }

    .dropdown-container ul {
        list-style-type: none;
    }

    .dropdown-container ul.dark {
        color : var(--white);
    }


    .dropdown-container ul li {
        padding-left: 1rem;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        margin-bottom: 0.1rem;
        font-weight: 600;
        transition: 0.1s all ease-in;
        cursor: pointer;
    }

    .dropdown-container ul li:hover {
        background-color: lightgray;
    }

    .dropdown-container ul li:last-child {
        margin-bottom: 0;
    }

    .dropdown-container.display {
        display: block;
    }

    .dropdown-container.display.dark {
        background-color: var(--dark-blue);
    }
}

@media screen and (min-width : 650px){
    .filter-dropdown .content-container {
        width : 200px;
    }
}

@media screen and (min-width : 800px){

    .filter-dropdown {
      display: flex;
      justify-content: flex-end;
    }

}

@media screen and (min-width : 900px) {

    .filter-dropdown .content-container {
        width : 150px;
    }
  
}