@media screen and (min-width : 320px) {

    .country-card {
        background-color: var(--white);
        margin-bottom: 2rem;
        width: 80%;
        height: 450px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all .2s ease-in-out;
        z-index: 2;
        position: relative;
    }

    .country-card:hover{
        transform: scale(1.01);
    }

    .country-card.dark {
        background-color: var(--dark-blue);
    }

    .country-card .image-container {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        min-height: 220px;
        max-height: 220px;
        background: transparent;
        background-size: 100% 100%;
        background-color: transparent;
        z-index : 9;
    }

    .country-card .country-details {
        position: absolute;
        width : 92%;
        height: 180px;
        top: 220px;
        padding : 1.5rem 0 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index : 10;
    }

    .country-card .country-details h1.dark{
        color : var(--white);
    }

    .country-card .country-details .more-details span{
        font-weight: lighter;
    }
    .country-card .country-details .more-details h4.dark{
        color : var(--white);
    }

}

@media screen and (min-width : 650px) {

    .country-card {
        width: 40%;
        height: 450px;
    }
    .country-card .country-details {
        position: absolute;
        width : 92%;
        height: 180px;
    }

}

@media screen and (min-width : 800px) {

    .country-card {
        width : 230px;
        height: 380px;
    }

    .country-card .image-container {
        width: 100%;
        min-height: 190px;
        max-height: 190px;
        background-size: 100% 100%;
    }

    .country-card .country-details {
        width : 90%;
        height: 145px;
        top: 190px;
    }

    .country-card .country-details h1{
        font-size: 130%;
    }

}

@media screen and (min-width : 900px) {

    .country-card {
        flex : 1;
        min-width : 230px;
        max-width : 230px;
    }

}

@media screen and (min-width : 1070px) {

    .country-card {
        float: left;
        align-self: left;
    }

}