@media screen and (min-width : 320px) {
    .details-page .back-btn {
        background-color: var(--white);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1.5rem;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        margin-bottom: 3rem;
    }

    .details-page .back-btn.dark {
        background-color: var(--dark-blue);
        color: var(--white);
    }

    .details-page .back-btn:hover {
        transform: scale(0.98);
    }

    .details-page .back-btn span {
        padding-left: 0.5rem;
    }

    .details-page .back-btn i.dark {
        color: var(--white);
    }
}