@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  --dark-blue : hsl(209, 23%, 22%);
  --very-dark-blue-dark-mode-background : hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text : hsl(200, 15%, 8%);
  --dark-gray-light-mode-input : hsl(0, 0%, 52%);
  --very-light-gray-light-mode-background : hsl(0, 0%, 98%);
  --white : hsl(0, 0%, 100%);
  --font-family : 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width : 100%;
  font-family: var(--font-family);
}

.main-container{
  width: 100%;
  max-width : 1300px;
  min-width : 320px;
}

@media screen and (min-width : 320px){

  .wrapper{
    width : 100%;
    min-height : 100vh;
    background-color: var(--very-light-gray-light-mode-background);
  }

  .wrapper.dark{
    background-color: var(--very-dark-blue-dark-mode-background);
  }

  .search-wrapper-container {
    display: flex;
    flex-direction: column;
    margin : 2rem 1rem 0 1rem;
    height : 200px;
  }

}

@media screen and (min-width : 500px){

  .wrapper{
    width : 500px;
    min-height : 100vh;
    margin : 0 auto;
  }

}

@media screen and (min-width : 650px){

  .wrapper{
    width : 100%;
  }

}

@media screen and (min-width : 800px){

  .search-wrapper-container {
    flex-direction: row;
    margin : 2rem 1rem 0 1rem;
    height : 100px;
    justify-content: space-between;
  }

}

@media screen and (min-width : 900px) {

  .search-wrapper-container {
    margin : 2rem 3rem 0 3rem;
    height : 100px;
  }

}
